<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<footer class="page-footer font-small gray-dark pt-12 my-md-1 pt-md-1 -border-top" th:fragment="footer-footer">
    <div class="container-fluid">
        <div class="row">
            <label class="col-sm-2"></label>
            <div class="col-sm-5" th:utext="#{app.footer.copyright('https://pribormaster.ru/', 'www.pribormaster.ru', ${@environment.getProperty('application.name')}, ${@environment.getProperty('application.version')})}">
            </div>
        </div>
    </div>
</footer>
</html>