<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{order.form.new.header}))}"></head>
<body>
<nav th:replace="~{fragments/header-main-search :: header-main-search}"></nav>
<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{fragments/header-left-panel :: header-left-panel}"></nav>
    </div>
</div>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start">
        <h1 class="h4" th:text="#{order.form.new.headers.h1}"></h1>
    </div>
    <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start border-bottom- mb-2">
        <!--
        <h2 class="h5" th:utext="${order.customer.viewLongNameWithContactInfo} + ' ' + '<span class=\'badge badge-secondary\'>' + ${order.customer.id} + '</span>'"></h2>
        -->
    </div>
    <div>
        <button id="btn-update-order" type="button" class="btn btn-primary" th:text="#{main.btn.updateData}"></button>
        <button id="btn-show-order" type="button" class="btn btn-light" disabled th:text="#{main.btn.showData}"></button>
        <button id="btn-status-order" type="button" class="btn btn-light" th:text="#{main.btn.statusData}"></button>
        <button id="btn-clone-order" type="button" class="btn btn-light" th:text="#{main.btn.cloneData}"></button>
    </div>
    <br/>
    <form id="orderForm" class="needs-validation" th:action="@{/web/orders/add/save/}" th:object="${order}" method="post">
        <input id="id" type="hidden" th:field="*{id}"/>
        <input id="no" type="hidden" th:field="*{orderNo}"/>
        <input id="orderDate" type="hidden" th:field="*{orderDate}"/>
        <input id="delivery.address.id" type="hidden" th:field="*{delivery.address.id}"/>
        <input id="delivery.address.courierInfo.deliveryDate" type="hidden" th:field="*{delivery.address.courierInfo.deliveryDate}"/>
        <input id="customer.id" type="hidden" th:field="*{customer.id}"/>
        <input id="customer.type" type="hidden" th:field="*{customer.type}"/>
        <input id="customer.phoneNumber" th:field="*{customer.viewPhoneNumber}" type="hidden"/>
        <input id="customer.email" th:field="*{customer.viewEmail}" type="hidden"/>
        <input id="customer.shortName" th:field="*{customer.viewShortName}" type="hidden"/>
        <input id="customer.longName" th:field="*{customer.viewLongName}" type="hidden"/>
        <input id="customer.inn" th:field="*{customer.viewInn}" type="hidden"/>
        <input id="customer.address.id" th:field="*{customer.address.id}" type="hidden"/>

        <hr class="mb-4">
        <button id="btn-submit-order" type="submit" class="btn btn-primary" th:text="#{main.btn.save}"></button>
    </form>
    <br/>
    <div id="feedback"></div>
</main>
<div th:replace="~{fragments/footer-scripts :: footer-scripts}"></div>
<script>
        $('#nav-link-orders').addClass('active');
        $('#checkbox-send-message').prop('checked', false);
        //$('#checkbox-send-message').prop('disabled', true);

        $('#btn-show-order').click(function() {
            window.location.href = '${urlHome}orders/${order.id}/${listType}';
        });
        $('#btn-update-order').click(function() {
            window.location.href = '${urlHome}orders/${order.id}/update/${listType}';
        });
        $('#btn-status-order').click(function() {
            window.location.href = '${urlHome}orders/${order.id}/change-status/${listType}';
        });
        $('#btn-clone-order').click(function() {
            window.location.href = '${urlHome}orders/${order.id}/clone';
        });

        $('#btn-save-order').click(function() {
            $('#btn-submit-order').click();
        });

        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

        $('#select-order-status').change(function() {
            var status = $('#select-order-status').val();
            if ((status == 'DELIVERING' || status == 'READY_GIVE_AWAY' || status == 'READY_GIVE_AWAY_TROUBLE') && $('#input-delivery-trackCode').val().trim() != '') {
                //$('#checkbox-send-message').prop('disabled', false);
                $('#checkbox-send-message').prop('checked', true);
            } else {
                //$('#checkbox-send-message').prop('disabled', true);
                $('#checkbox-send-message').prop('checked', false);
            }
        });

        (function () {
        'use strict'
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }
                form.classList.add('was-validated')
              }, false)
            })
        })()

    </script>
</body>
<footer th:replace="~{fragments/footer-footer :: footer-footer}"></footer>
</html>
