<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{orders.title}))}"></head>
<body>
    <nav th:replace="~{fragments/header-main-search :: header-main-search}"></nav>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="~{fragments/header-left-panel :: header-left-panel}"></nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <!-- local content -->
          <h1 class="h2" th:text="#{orders.header}"></h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">Share</button>
              <button class="btn btn-sm btn-outline-secondary" onclick="onClickConditionsFilter()">Фильтр</button>
            </div>
            <button id="button-conditions" type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" data-action="no-action" aria-haspopup="true" aria-expanded="false">
              <span data-feather="calendar"></span>&nbsp;Текущий месяц

            </button>
            <div class="dropdown-menu" aria-labelledby="button-conditions">
              <a href="/sir-richard-boss-web/orders/conditions/period/current-month" id="button-conditions-current-month" class="dropdown-item">Текущий месяц</a>
              <a href="/sir-richard-boss-web/orders/conditions/period/prior-month" id="button-conditions-prior-month" class="dropdown-item">Предыдущий месяц</a>
              <a href="/sir-richard-boss-web/orders/conditions/period/last-7-days" id="button-conditions-last-7-days" class="dropdown-item">Последние 7 дней</a>
              <a href="/sir-richard-boss-web/orders/conditions/period/last-30-days" id="button-conditions-last-30-days" class="dropdown-item">Последние 30 дней</a>
              <a href="/sir-richard-boss-web/orders/conditions/period/last-90-days" id="button-conditions-last-90-days" class="dropdown-item">Последние 90 дней</a>
            </div>
          </div>
        </div>
        <!-- alert block ets -->
        <div>
          <button id="button-crm-load" class="btn btn-sm btn-light" onclick="onClickCrmLoad()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Загрузить заказы из лидов">
            <i class="bi bi-arrow-repeat text-dark"></i>
          </button>
          <button id="button-statuses-reload" class="btn btn-sm btn-light" onclick="onClickStatusesReload()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Обновить статусы заказов">
            <i class="bi bi-activity text-dark"></i>
          </button>
          <button id="button-statuses-today" class="btn btn-sm btn-light" onclick="onClickStatusesToday()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Заказы за сегодня">
            <i class="bi bi-calendar-date text-dark"></i>
          </button>
          <button id="button-orders-trouble" class="btn btn-sm btn-light" onclick="onClickTroubleOrdersLoad()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Проблемные заказы">
            <i class="bi bi-exclamation-triangle text-dark"></i>
          </button>
          <button id="button-orders-actualization-postpay" class="btn btn-sm btn-light" onclick="onClickActualizationOrdersPostay()" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Завершение заказов по факту оплаты">
            <i class="bi bi-cash-stack text-dark"></i>
          </button>


          <button id="button-add" type="button" class="btn btn-sm btn-light" onclick="onClickAddOrder()">Добавить</button>
          <button id="button-update" type="button" class="btn btn-sm btn-light" disabled="" onclick="onClickUpdateOrder()">Изменить</button>
          <button id="button-erase" type="button" class="btn btn-sm btn-danger" disabled="" onclick="onClickEraseOrder()">Удалить</button>
          <div class="btn-group" role="group">

            <button id="button-operates" type="button" class="btn btn-sm btn-light dropdown-toggle" disabled="" data-toggle="dropdown" data-action="no-action" aria-haspopup="true" aria-expanded="false">
              Операции
            </button>
            <div class="dropdown-menu" aria-labelledby="button-operates">
              <!-- <a id="button-approve" class="dropdown-item">Подтвердить</a>  -->
              <!-- <a id="button-cancel" class="dropdown-item">Отменить</a> -->
              <a id="button-change-status" class="dropdown-item">Изменить статус</a>
              <a id="button-bill-expired-status" class="dropdown-item">Запрос на актуальность</a>
              <div class="dropdown-divider"></div>
              <a id="button-clone" class="dropdown-item">Копировать</a>

            </div>
          </div>

          <div class="btn-group" role="group">
            <button id="button-reportes" type="button" class="btn btn-sm btn-light dropdown-toggle" disabled="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Документы
            </button>
            <div class="dropdown-menu" aria-labelledby="button-reportes">
              <a id="button-report-bill" class="dropdown-item">Товарный чек</a>
              <a id="button-report-sdek-bill" class="dropdown-item">Накладная курьеру</a>

              <div class="dropdown-divider"></div>
              <a id="button-report-post-russia-postpay" class="dropdown-item">Почта России, наложенный платеж</a>
              <a id="button-report-post-russia-address-ticket-postpay" class="dropdown-item">Почта России, ярлык (наложенный платеж)</a>
              <a id="button-report-post-russia-address-ticket" class="dropdown-item">Почта России, ярлык (предоплата)</a>

              <div class="dropdown-divider"></div>
              <a id="button-report-kkm" class="dropdown-item">Кассовый чек</a>
              <a id="button-report-pko" class="dropdown-item">Приходный кассовый ордер</a>

              <div class="dropdown-divider"></div>
              <a id="button-report-garant-ticket-all" class="dropdown-item">Гарантийный талон (для всех)</a>
              <a id="button-report-garant-ticket-sititek" class="dropdown-item">Гарантийный талон (СИТИТЕК)</a>

              <div class="dropdown-divider"></div>
              <a id="button-report-return-form" class="dropdown-item">Бланк возврата</a>

            </div>
          </div>

          <div class="btn-group" role="group">
            <button id="button-exporters" type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Экспорт
            </button>
            <div class="dropdown-menu" aria-labelledby="button-exportes">
              <a id="button-export-excel-cdek" class="dropdown-item" href="/sir-richard-boss-web/orders/0/export/excel-cdek">Выгрузка заказов в СДЭК (excel)</a>
              <a id="button-export-api-cdek" class="dropdown-item" href="/sir-richard-boss-web/orders/0/export/api-cdek">Выгрузка заказов в СДЭК (интеграция)</a>
              <a id="button-export-api-ozon-rocket" class="dropdown-item" href="/sir-richard-boss-web/orders/0/export/api-ozon-rocket">Выгрузка заказов в OZON.Rocket</a>
            </div>
          </div>
        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-striped- table-sm">
            <thead>
            <tr>
              <th scope="col">
                <input id="checkbox-union" type="checkbox">
              </th>
              <th scope="col">#</th>
              <th scope="col">Дата</th>
              <th scope="col">Категория</th>
              <th scope="col">Клиент</th>
              <th scope="col">Телефон</th>
              <th scope="col">Адрес</th>
              <th scope="col">Доставка</th>
              <th scope="col">Итого</th>
              <th scope="col">Трэккод</th>
            </tr>
            </thead>
            <tbody>
            <tr th:class="'table-' + ${order.viewStatus.union}" th:each="order : ${orders}">
              <td th:class="'table-' + ${order.viewStatus.orderId}">
                <!--
                <input th:attr="data-delivery-code=${order.delivery.type}" th:attr="data-delivery-category=${order.delivery.type.category}" th:attr="id='checkbox-' + ${order.id}" type="checkbox" th:attr="data-no='${order.orderNo}">
                -->
                <input type="checkbox" th:attr="id='checkbox-' + ${order.id}">
              </td>
              <td th:id="'td-id-' + ${order.id}" th:class="'td-id table-' + ${order.viewStatus.orderNo}" scope="row" th:attr="data-id=${order.id}">
                <a th:href="@{/web/orders/{orderId}(orderId=${order.id})}" th:text="${order.orderNo}"></a>
              </td>
              <td th:class="'table-' + ${order.viewStatus.orderDate}"
                  th:attr="data-original-title=${order.viewDateInfo}"
                  data-container="body"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  th:text="${T(com.sir.richard.boss.utils.DateTimeUtils).formatLocalDate(order.orderDate, T(com.sir.richard.boss.utils.DateTimeUtils).DATE_FORMAT_dd_MM_yyyy)}"></td>
              <td th:text="${order.productCategory.name}"></td>
              <td th:attr="data-original-title=${order.annotation}"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  th:text="${order.customer.viewShortName}"></td>
              <td th:text="${order.customer.viewPhoneNumber}"></td>
              <td th:attr="data-original-title=${order.delivery.viewDeliveryInfo}"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  th:text="${order.delivery.address.viewAddress}"></td>
              <td th:text="${order.delivery.type.annotation}"></td>
              <td class="text-right"
                  th:attr="data-original-title='Доход: ' + ${#numbers.formatCurrency(order.amountBill)} + ', Закупка: ' + ${#numbers.formatCurrency(order.amountSupplier)} + ', Прибыль: ' + ${#numbers.formatCurrency(order.amountMargin)} + ', Постоплата: ' + ${#numbers.formatCurrency(order.amountPostpay)}"
                  data-container="body"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).TOTAL_WITH_DELIVERY))}"></td>
              <td th:text="${order.delivery.trackCode}"></td>
              <!--
              <tr class="table-${order.viewStatus.union}">
		 				<td class="table-${order.viewStatus.orderId}"><input data-delivery-code="${order.delivery.deliveryType}" data-delivery-category="${order.delivery.deliveryType.category}" id="checkbox-${order.id}" type="checkbox" data-no="${order.no}"></td>
						<td data-original-title="${order.annotation}" data-toggle="tooltip" data-placement="bottom" title="">${order.customer.viewShortName}</td>
						<td>${order.customer.viewPhoneNumber}</td>
						<td data-original-title="${order.delivery.viewDeliveryInfo}" data-toggle="tooltip" data-placement="bottom" title="">${order.delivery.address.viewAddress}</td>
						<td>${order.delivery.deliveryType.annotation}</td>
						<td class="text-right"
							data-original-title="<fmt:message key="orders.table.items.amount.bill" />: <fmt:formatNumber type = 'currency' value = '${order.amounts.getValue(OrderAmountTypes.BILL)}' />,
								<fmt:message key="orders.table.items.amount.supplier" />: <fmt:formatNumber type = 'currency' value = '${order.amounts.getValue(OrderAmountTypes.SUPPLIER)}' />,
								<fmt:message key="orders.table.items.amount.margin" />: <fmt:formatNumber type = 'currency' value = '${order.amounts.getValue(OrderAmountTypes.MARGIN)}' />,
								<fmt:message key="orders.table.items.amount.postpay" />: <fmt:formatNumber type = 'currency' value = '${order.amounts.getValue(OrderAmountTypes.POSTPAY)}' />"
								data-container="body" data-toggle="tooltip" data-placement="bottom" title="">
						  <fmt:formatNumber type = "currency" value = "${order.amounts.getValue(OrderAmountTypes.TOTAL_WITH_DELIVERY)}" />
						<td id="td-trackcode-${order.id}" class="text-center">${order.delivery.trackCode}</td>
				</tr>
              -->
            </tr>
            </tbody>
          </table>
        </div>
    </main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <ul class="list-group-flush">
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.amount.bill}"></span>&nbsp;
              <strong th:text="${#numbers.formatCurrency(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).BILL))}"></strong>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.amount.supplier}"></span>&nbsp;
              <strong th:text="${#numbers.formatCurrency(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).SUPPLIER))}"></strong>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.amount.advert}"></span>&nbsp;
              <strong th:text="${#numbers.formatCurrency(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).ADVERT_BUDGET))}"></strong>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.amount.margin}"></span>&nbsp;
              <strong th:text="${#numbers.formatCurrency(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).MARGIN))}"></strong>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.amount.postpay}"></span>&nbsp;
              <strong th:text="${#numbers.formatCurrency(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).POSTPAY))}"
                      data-container="body" data-toggle="tooltip" data-placement="bottom" title=""
                      data-original-title="Наложенный платеж СДЭК: 15 660,00 ₽,
				         							 Наложенный платеж Почта России: 0,00 ₽,
				         							 Постоплата по организациям: 54 450,00 ₽
				         							 Постоплата по Яндекс.Маркет: 0,00 ₽
				         							 Постоплата по ОЗОН: 0,00 ₽
				         							 Постоплата по Yandex.GO: 0,00 ₽">
              </strong>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.count.total}"></span>&nbsp;
              <span th:text="${orders.size()}"></span>
            </li>
            <li class="list-group-item text-right">
              <span th:text="#{orders.table.footers.count.real}"></span>&nbsp;
              <span th:text="${#numbers.formatInteger(totalAmounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).COUNT_REAL_ORDERS), 1)}"></span>
            </li>
            <li class="list-group-item text-right">
              <strong data-container="body"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      title=""
                      data-original-title="Конверсия в заявку:&nbsp;0,00 %">
              </strong>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div th:replace="~{fragments/footer-scripts :: footer-scripts}"></div>
    <script>
        $('#nav-link-orders').addClass('active');
        $('#nav-link-orders i').removeClass('text-dark').addClass('text-info');

        function onClickCrmLoad() {
            window.location = '${urlOrders}/import-crm';
        }

        function onClickStatusesReload() {
            window.location = '${urlOrders}/statuses/reload';
        }

        function onClickStatusesToday() {
            window.location = '${urlOrders}/statuses/today';
        }

        function onClickTroubleOrdersLoad() {
            window.location = '${urlOrders}/trouble-load';
        }

        function onClickActualizationOrdersPostay() {
            $('#confirm-modal-actualization-postpay').modal({keyboard: false});
        }

        function onClickConditionsFilter() {
            window.location = '${urlOrders}/conditions/filter';
        }
        function onClickAddOrder() {
            console.log('${urlOrders}/add');
            window.location = '${urlOrders}/add/${listType}';
        }
        function onClickUpdateOrder() {
            console.log('onClickUpdateOrder: ' + $('#button-update').attr('href'));
            window.location = $('#button-update').attr("href");
        }
        function onClickEraseOrder() {
            console.log('onClickEraseOrder: ' + $('#button-erase').attr('href-data'));
            $('#confirm-modal-erase').modal({keyboard: false});
        }
        function onClickApproveOrder() {
            console.log('onClickApproveOrder: ' + $('#button-approve').attr('href'));
            window.location = $('#button-approve').attr("href");
        }
        function onClickCancelOrder() {
            console.log('onClickCancelOrder: ' + $('#button-cancel').attr('href'));
            window.location = $('#button-cancel').attr("href");
        }
        function onClickChangeStatusOrder() {
            console.log('onClickChangeStatusOrder: ' + $('#button-change-status').attr('href'));
            //this.disabled = true;
            window.location = $('#button-change-status').attr("href");
        }

        function onClickBillExpiredStatus() {
            console.log('onClickBillExpiredStatus: ' + $('#button-bill-expired-status').attr('href'));
            window.location = $('#button-bill-expired-status').attr("href");
        }

        function onClickPrintOrderBill() {
            console.log('onClickPrintOrderBill: ' + $('#button-report-bill').attr('href'));
            window.location = $('#button-report-bill').attr("href");
        }
        function onClickPrintOrderKKM() {
            console.log('onClickPrintOrderKKM: ' + $('#button-report-kkm').attr('href'));
            window.location = $('#button-report-kkm').attr("href");
        }
        function onClickPrintOrderPKO() {
            console.log('onClickPrintOrderPKO: ' + $('#button-report-pko').attr('href'));
            window.location = $('#button-report-pko').attr("href");
        }
        function onClickPrintOrderSdekBill() {
            console.log('onClickPrintOrderSdekBill: ' + $('#button-report-sdek-bill').attr('href'));
            window.location = $('#button-report-sdek-bill').attr("href");
        }
        function onClickPrintOrderPostRussiaAddressTicket() {
            console.log('onClickPrintOrderPostRussiaAddressTicket: ' + $('#button-report-post-russia-address-ticket').attr('href'));
            window.location = $('#button-report-post-russia-address-ticket').attr("href");
        }
        function onClickPrintOrderPostRussiaAddressTicketWithPostpay() {
            console.log('onClickPrintOrderPostRussiaAddressTicketWithPostpay: ' + $('#button-report-post-russia-address-ticket-postpay').attr('href'));
            window.location =  $('#button-report-post-russia-address-ticket-postpay').attr("href");
        }
        function onClickPrintOrderPostRussiaPostpay() {
            console.log('onClickPrintOrderPostRussiaPostpay: ' + $('#button-report-post-russia-postpay').attr('href'));
            window.location = $('#button-report-post-russia-postpay').attr("href");
        }
        function onClickPrintGarantTicketAll() {
            console.log('onClickPrintGarantTicketAll: ' + $('#button-report-garant-ticket-all').attr('href'));
            window.location = $('#button-report-garant-ticket-all').attr("href");
        }
        function onClickPrintGarantTicketAll() {
            console.log('onClickPrintGarantTicketSititek: ' + $('#button-report-garant-ticket-sititek').attr('href'));
            window.location = $('#button-report-garant-ticket-sititek').attr("href");
        }

        function onClickPrintOrderReturnForm() {
            console.log('onClickPrintReturnForm: ' + $('#button-report-return-form').attr('href'));
            window.location = $('#button-report-return-form').attr("href");
        }

        function onClickExportCdekExcel() {
            console.log('onClickExpotCdekExcel: ' + $('#button-export-excel-cdek').attr('href'));
            window.location = $('#button-export-excel-cdek').attr("href");
        }

        function onClickExportCdekApi() {
            console.log('onClickExpotCdekApi: ' + $('#button-export-api-cdek').attr('href'));
            window.location = $('#button-export-api-cdek').attr("href");
        }

        function onClickExportOzonRocketApi() {
            console.log('onClickExportOzonRocketApi: ' + $('#button-export-api-ozon-rocket').attr('href'));
            window.location = $('#button-export-api-ozon-rocket').attr("href");
        }

        $(document).ready(function() {
            var $checkboxes = $('input[type="checkbox"]');
            $checkboxes.click(function() {
                var orderId,
                    updateHref,
                    deleteHref,
                    cloneHref,
                    approveHref,
                    cancelHref,
                    changeStatusHref,
                    bidExpiredHref,
                    eraseHref,
                    reportOrderBillHref,
                    reportOrderSdekBillHref,
                    reportPostRussiaAddressTicketHref,
                    reportPostRussiaAddressTicketPostpayHref,
                    reportPostRussiaPostpayHref,
                    reportGarantTicketAllHref,
                    reportGarantTicketSititekHref,
                    reportOrderKKMHref,
                    reportOrderPKOHref,
                    reportOrderReturnFormHref,
                    exportExcelCdekHref,
                    exportApiCdekHref,
                    exportApiOzonRocketHref;

                if (this.id == 'checkbox-union') {
                    console.log('checkbox-union: ' + $('#checkbox-union').prop('checked'));
                    $checkboxes.prop('checked', $('#checkbox-union').prop('checked'));

                    $('#button-update').attr('disabled', '').attr('href', '#');
                    $('#button-delete').attr('disabled', '').attr('href', '#');
                    $('#button-clone').attr('disabled', '').attr('href', '#');
                    $('#button-operates').attr('disabled', '');
                    $('#button-reportes').attr('disabled', '');

                    exportExcelCdekHref = '${urlOrders}/' + 0 + '/export/excel-cdek';
                    exportApiCdekHref = '${urlOrders}/' + 0 + '/export/api-cdek';
                    exportApiOzonRocketHref = '${urlOrders}/' + 0 + '/export/api-ozon-rocket';

                    $('#button-export-excel-cdek').attr('href', exportExcelCdekHref);
                    $('#button-export-api-cdek').attr('href', exportApiCdekHref);
                    $('#button-export-api-ozon-rocket').attr('href', exportApiOzonRocketHref);

                    return;
                }
                if ($checkboxes.filter(':checked').length == 0) {
                    $('#button-update').attr('disabled', '').attr('href', '#');
                    $('#button-delete').attr('disabled', '').attr('href', '#');
                    $('#button-clone').attr('disabled', '').attr('href', '#');
                    $('#button-operates').attr('disabled', '');
                    $('#button-reportes').attr('disabled', '');
                    //$('#button-exporters').attr('disabled', '');
                }

                $checkboxes.filter(':checked').not(this).prop('checked', false);

                if ($(this).prop('checked')) {

                    var deliveryCode = $(this).attr('data-delivery-code');
                    var deliveryCategory = $(this).attr('data-delivery-category');

                    $('#button-exporters').attr('disabled', '');
                    $('#button-export-excel-cdek').prop('hidden', true);
                    $('#button-export-api-cdek').prop('hidden', true);
                    $('#button-export-api-ozon-rocket').prop('hidden', true);
                    if (deliveryCategory == "OZON Rocket") {
                        $('#button-exporters').removeAttr('disabled');
                        $('#button-export-api-ozon-rocket').prop('hidden', false);
                    } else if (deliveryCategory == "CDEK" || deliveryCode == "PICKUP") {
                        $('#button-exporters').removeAttr('disabled');
                        $('#button-export-excel-cdek').prop('hidden', false);
                        $('#button-export-api-cdek').prop('hidden', false);
                    }

                    orderId = this.id.substring(9, this.id.length);
                    updateHref = '${urlOrders}/' + orderId + '/update/${listType}';
                    cloneHref = '${urlOrders}/' + orderId + '/clone';
                    deleteHref = '${urlOrders}/' + orderId + '/delete';
                    cloneHref = '${urlOrders}/' + orderId + '/clone';

                    changeStatusHref = '${urlOrders}/' + orderId + '/change-status/${listType}';
                    bidExpiredHref = '${urlOrders}/' + orderId + '/bill-expired-status/${listType}';
                    eraseHref = '${urlOrders}/' + orderId + '/erase';

                    reportOrderBillHref = '${urlOrders}/' + orderId + '/report/bill';
                    reportOrderSdekBillHref = '${urlOrders}/' + orderId + '/report/sdek-bill';
                    reportPostRussiaAddressTicketHref = '${urlOrders}/' + orderId + '/report/post-russia-address-ticket';
                    reportPostRussiaAddressTicketPostpayHref = '${urlOrders}/' + orderId + '/report/post-russia-address-ticket-postpay';
                    reportPostRussiaPostpayHref = '${urlOrders}/' + orderId + '/report/post-russia-postpay';

                    reportGarantTicketAllHref = '${urlOrders}/' + orderId + '/report/garant-ticket-all';
                    reportGarantTicketSititekHref = '${urlOrders}/' + orderId + '/report/garant-ticket-sititek';

                    reportOrderKKMHref = '${urlOrders}/' + orderId + '/report/kkm';
                    reportOrderPKOHref = '${urlOrders}/' + orderId + '/report/pko';

                    reportOrderReturnFormHref = '${urlOrders}/' + orderId + '/report/return-form';

                    exportExcelCdekHref = '${urlOrders}/' + orderId + '/export/excel-cdek';
                    exportApiCdekHref = '${urlOrders}/' + orderId + '/export/api-cdek';
                    exportApiOzonRocketHref = '${urlOrders}/' + orderId + '/export/api-ozon-rocket';

                    console.log(updateHref);
                    console.log(deleteHref);
                    console.log(changeStatusHref);
                    console.log(bidExpiredHref);
                    console.log(eraseHref);
                    console.log(reportOrderBillHref);

                    $('#button-update').removeAttr('disabled').attr('href', updateHref);
                    $('#button-erase').removeAttr('disabled').attr('href', eraseHref);

                    $('#button-operates').removeAttr('disabled');

                    $('#button-change-status').attr('href', changeStatusHref);
                    $('#button-bill-expired-status').attr('href', bidExpiredHref);

                    $('#button-delete').attr('href', deleteHref);
                    $('#button-clone').attr('href', cloneHref);

                    $('#button-reportes').removeAttr('disabled');
                    //$('#button-exporters').removeAttr('disabled');
                    $('#button-report-bill').attr('href', reportOrderBillHref);
                    $('#button-report-kkm').attr('href', reportOrderKKMHref);
                    $('#button-report-pko').attr('href', reportOrderPKOHref);

                    $('#button-report-sdek-bill').attr('href', reportOrderSdekBillHref);
                    $('#button-report-post-russia-address-ticket').attr('href', reportPostRussiaAddressTicketHref);
                    $('#button-report-post-russia-address-ticket-postpay').attr('href', reportPostRussiaAddressTicketPostpayHref);
                    $('#button-report-post-russia-postpay').attr('href', reportPostRussiaPostpayHref);

                    $('#button-report-garant-ticket-all').attr('href', reportGarantTicketAllHref);
                    $('#button-report-garant-ticket-sititek').attr('href', reportGarantTicketSititekHref);

                    $('#button-report-return-form').attr('href', reportOrderReturnFormHref);

                    $('#button-export-excel-cdek').attr('href', exportExcelCdekHref);
                    $('#button-export-api-cdek').attr('href', exportApiCdekHref);
                    $('#button-export-api-ozon-rocket').attr('href', exportApiOzonRocketHref);


                } else {
                    exportExcelCdekHref = '${urlOrders}/' + 0 + '/export/excel-cdek';
                    exportApiCdekHref = '${urlOrders}/' + 0 + '/export/api-cdek';
                    exportApiOzonRocketHref = '${urlOrders}/' + 0 + '/export/api-ozon-rocket';
                }
            });
        });

        $( 'td.td-id' ).mouseover(function() {
            var orderId = $(this).attr('data-id');
            var tdOrderNo = $(this);
            var orderContainer = { id: orderId }

            if (tdOrderNo.attr("data-toggle") == "tooltip") {
                //console.log('AJAX YET}: ' + tdOrderNo.attr('title'));
                return;
            }
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '${urlHome}ajax/orders/marketplace-info',
                data : JSON.stringify(orderContainer),
                dataType: 'json',
                timeout: 100000,
                success: function(data) {
                    console.log('SUCCESS: ', data.msg);
                    if (data.msg != '') {
                        if ($('#td-trackcode-' + orderId).text().trim() == '') {
                            $('#td-trackcode-' + orderId).text(data.msg);
                        }
                        tdOrderNo.attr('title', data.msg).attr('data-toggle', 'tooltip').tooltip('show');
                        setTimeout(function() {
                            var tdOrderNo = $(this);
                            tdOrderNo.tooltip('hide');
                            $('.td-id').tooltip('hide');
                        }, 4000);
                    } else {
                        tdOrderNo.attr('title', data.msg).attr('data-toggle', 'tooltip').tooltip('hide');
                    }
                },
                error: function(e) {
                    console.log('ERROR: ', e);
                    },
                done: function(e) {
                    console.log('DONE');
                }
            });
        }).mouseout(function() {
              var tdOrderNo = $(this);
              tdOrderNo.tooltip('hide');
              $('.td-id').tooltip('hide');
        });

        $('#button-modal-confirm-ok-1').click(function() {
            var eraseHref = $('#button-erase').attr('href');
            console.log('#modal-confirm-ok click: ' + eraseHref);
            document.location.href = eraseHref;
        });

        $('#button-modal-confirm-ok-2').click(function() {
            window.location = '${urlOrders}/actualization-postpay';
        });
    </script>
</body>
<footer th:replace="~{fragments/footer-footer :: footer-footer}"></footer>
</html>