<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{order.show.title}))}"></head>
<body>
    <nav th:replace="~{fragments/header-main-search :: header-main-search}"></nav>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="~{fragments/header-left-panel :: header-left-panel}"></nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start">
            <h1 class="h4" th:text="#{order.show.headers.h1( ${order.viewNo}, ${T(com.sir.richard.boss.utils.DateTimeUtils).defaultFormatLocalDate(order.orderDate)})}"></h1>
        </div>
        <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start border-bottom- mb-2">
            <h2 class="h5" th:utext="${order.customer.viewLongNameWithContactInfo} + ' ' + '<span class=\'badge badge-secondary\'>' + ${order.customer.id} + '</span>'"></h2>
        </div>
        <div>
            <button id="btn-update-order" type="button" class="btn btn-primary" th:text="#{main.btn.updateData}"></button>
            <button id="btn-show-order" type="button" class="btn btn-light" disabled th:text="#{main.btn.showData}"></button>
            <button id="btn-status-order" type="button" class="btn btn-light" th:text="#{main.btn.statusData}" th:onclick="'window.location.href = \'' + @{/web/orders/{orderId}/change-status/{listType}(orderId=${order.id}, listType=${listType})} + '\''">

            </button>
            <button id="btn-clone-order" type="button" class="btn btn-light" th:text="#{main.btn.cloneData}"></button>
        </div>
        <br/>
        <ul class="nav nav-tabs" id="orderTab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="order-tab" th:text="#{order.show.tabs.order}"
                                    data-toggle="tab" href="#order" role="tab" aria-controls="order"
                                    aria-selected="true"></a>
            </li>
            <li class="nav-item"><a class="nav-link" id="customer-tab" th:text="#{order.show.tabs.customer}"
                                    data-toggle="tab" href="#customer" role="tab" aria-controls="customer"
                                    aria-selected="false"></a>
            </li>
            <li class="nav-item"><a class="nav-link" id="delivery-tab" th:text="#{order.show.tabs.delivery}"
                                    data-toggle="tab" href="#delivery" role="tab" aria-controls="delivery"
                                    aria-selected="false"></a>
            </li>
            <li class="nav-item"><a class="nav-link" id="amount-tab" th:text="#{order.show.tabs.calculate}"
                                    data-toggle="tab" href="#amount" role="tab" aria-controls="amount"
                                    aria-selected="false"></a>
            </li>
        </ul>
        <div class="tab-content" id="orderTabContent">
            <div class="tab-pane fade show active" id="order" role="tabpanel"
                 aria-labelledby="order-tab">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.id}"></label>
                        <div class="col-sm-9"><span th:text="${order.id}"></span></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.no}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${order.viewNo}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.orderDate}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${T(com.sir.richard.boss.utils.DateTimeUtils).defaultFormatLocalDate(order.orderDate)}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.orderType}"></label>
                        <div class="col-sm-9" th:text="${order.type.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.sourceType}"></label>
                        <div class="col-sm-9" th:text="${order.source.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.advertType}"></label>
                        <div class="col-sm-9" th:text="${order.advert.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.paymentType}"></label>
                        <div class="col-sm-9" th:text="${order.payment.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.productCategory}"></label>
                        <div class="col-sm-9" th:text="${order.productCategory.name}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.store}"></label>
                        <div class="col-sm-9" th:text="${order.store.site}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.annotation}"></label>
                        <div class="col-sm-9" th:text="${order.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.status}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${order.status.annotation}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.fields.addedDate}"></label>
                        <div class="col-sm-9"
                             th:text="${T(com.sir.richard.boss.utils.DateTimeUtils).formatLocalDateTime(order.addedDate, T(com.sir.richard.boss.utils.DateTimeUtils).DATE_FORMAT_UTC)}">
                        </div>
                    </div>
                    <br />
                    <h6 th:text="#{order.show.items.header}"></h6>
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" th:text="#{order.show.items.table.headers.product}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.unit}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.quantity}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.price}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.discountRate}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.supplierAmount}"></th>
                            <th scope="col" th:text="#{order.show.items.table.headers.amount}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${order.items}">
                            <td th:text="${item.no}"></td>
                            <td th:text="${item.product.viewName}"></td>
                            <td class="text-center" th:text="#{order.show.items.table.headers.unit.value}"></td>
                            <td class="text-right" th:text="${item.quantity}"></td>
                            <td class="text-right" th:text="${#numbers.formatCurrency(item.price)}"></td>
                            <td class="text-right" th:text="${#numbers.formatDecimal(item.discountRate, 0, 'POINT', 0, 'COMMA')} + '%'"></td>
                            <td class="text-right" th:text="${#numbers.formatCurrency(item.supplierAmount)}"></td>
                            <td class="text-right" th:text="${#numbers.formatCurrency(item.amount)}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-center"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"><strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).SUPPLIER))}"></strong></td>
                            <td class="text-right"><strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).TOTAL))}"></strong></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td th:text="#{order.show.items.table.footer.delivery}"></td>
                            <td></td>
                            <td class="text-right" th:text="${#numbers.formatCurrency(order.delivery.price)}"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong th:text="#{order.show.items.table.footer.totalWithDelivery}"></strong></td>
                            <td></td>
                            <td class="text-right">
                                <strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).TOTAL_WITH_DELIVERY))}"></strong>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <h6 th:text="#{order.show.statuses.header}"></h6>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" th:text="#{order.show.statuses.table.headers.no}"></th>
                                    <th scope="col" th:text="#{order.show.statuses.table.headers.status}"></th>
                                    <th scope="col" th:text="#{order.show.statuses.table.headers.crmStatus}"></th>
                                    <th scope="col" th:text="#{order.show.statuses.table.headers.crmSubStatus}"></th>
                                    <th scope="col" th:text="#{order.show.statuses.table.headers.addedDate}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="statusItem : ${order.statuses}">
                                    <td th:text="${statusItem.no}"></td>
                                    <td th:text="${statusItem.status.annotation}"></td>
                                    <td th:text="${statusItem.crmStatus}"></td>
                                    <td th:text="${statusItem.crmSubStatus}"></td>
                                    <td th:text="${T(com.sir.richard.boss.utils.DateTimeUtils).formatLocalDateTime(statusItem.addedDate, T(com.sir.richard.boss.utils.DateTimeUtils).DATE_FORMAT_UTC)}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <h6 th:text="#{order.show.crm.header}"></h6>
                    <div class="row">
                        <div class="col-sm-5">
                            <table class="table table-striped table-sm">
                                <thead>
                                <tr>
                                    <th scope="col" th:text="#{order.show.crm.table.headers.crm}"></th>
                                    <th scope="col" th:text="#{order.show.crm.table.headers.parentId}"></th>
                                    <th scope="col" th:text="#{order.show.crm.table.headers.parentCode}"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="crm : ${order.externalCrms}">
                                    <td th:text="${crm.type.annotation}"></td>
                                    <td th:text="${crm.parentId}"></td>
                                    <td th:text="${crm.parentCode}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="customer" role="tabpanel"
                 aria-labelledby="customer-tab">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.customer.fields.type}"></label>
                        <div class="col-sm-9" th:text="${order.customer.type.longName}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.customer.fields.country}"></label>
                        <div class="col-sm-9" th:text="${order.customer.address.country.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.customer.fields.address}"></label>
                        <div class="col-sm-9" th:text="${order.customer.address.address}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.customer.fields.status}">Статус</label>
                        <div class="col-sm-9 mb-4">Действует</div>
                    </div>

                    <div th:if="${order.customer.type == T(com.sir.richard.boss.model.types.CustomerTypes).CUSTOMER}">
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.lastName}"></label>
                            <div class="col-sm-9" th:text="${order.customer.person.lastName}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.firstName}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.customer.person.firstName}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.middleName}"></label>
                            <div class="col-sm-9" th:text="${order.customer.person.middleName}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.telephone}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.customer.person.phoneNumber}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.email}"></label>
                            <div class="col-sm-9" th:text="${order.customer.person.email}"></div>
                        </div>
                    </div>
                    <div th:if="${order.customer.type == T(com.sir.richard.boss.model.types.CustomerTypes).COMPANY}">
                        <h6 th:text="#{order.show.customer.company.header}"></h6>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.inn}"></label>
                            <div class="col-sm-9" th:text="${order.customer.company.inn}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.shortName}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.customer.company.shortName}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.longName}"></label>
                            <div class="col-sm-9" th:text="${order.customer.company.longName}"></div>
                        </div>
                        <h6 th:text="#{order.show.customer.company.contact.header}"></h6>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.lastName}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.customer.company.mainContact.lastName}"></strong>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.firstName}"></label>
                            <div class="col-sm-9" th:text="${order.customer.company.mainContact.firstName}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.middleName}"></label>
                            <div class="col-sm-9" th:text="${order.customer.company.mainContact.middleName}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.telephone}"></label>
                            <div class="col-sm-9" th:text="${order.customer.company.mainContact.phoneNumber}"></div>
                        </div>
                        <div class="row">
                            <label class="col-sm-3" th:text="#{order.show.customer.fields.company.contact.email}"></label>
                            <div class="col-sm-9">
                                <strong th:text="${order.customer.company.mainContact.email}"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="delivery" role="tabpanel"
                 aria-labelledby="delivery-tab">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.type}"></label>
                        <div class="col-sm-9" th:text="${order.delivery.type.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.paymentType}"></label>
                        <div class="col-sm-9" th:text="${order.delivery.paymentDeliveryType.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.country}"></label>
                        <div class="col-sm-9" th:text="${order.delivery.address.country.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.address}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${order.delivery.address.address}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.deliveryDate}"></label>
                        <div class="col-sm-9" th:if="${order.delivery.deliveryDate != null}">
                            <strong th:text="${T(com.sir.richard.boss.utils.DateTimeUtils).formatLocalDate(order.delivery.deliveryDate, T(com.sir.richard.boss.utils.DateTimeUtils).DATE_FORMAT_HH_mm_EEE)}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.courierPeriod}"></label>
                        <div class="col-sm-9" th:if="${order.delivery.timeInterval != null}">
                            <strong th:text="${order.delivery.timeInterval}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.price}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${#numbers.formatCurrency(order.delivery.price)}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.annotation}"></label>
                        <div class="col-sm-9" th:text="${order.delivery.annotation}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.postpayAmount}"></label>
                        <div class="col-sm-9">
                            <strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).POSTPAY))}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-3" th:text="#{order.show.delivery.fields.trackCode}"></label>
                        <div class="col-sm-9">
                            <strong></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="amount" role="tabpanel"
                 aria-labelledby="amount-tab">
                <div class="container-fluid">
                    <br />
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.totalAmount}"></label>
                        <div class="col-sm-2 text-right">
                            <strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).TOTAL_WITH_DELIVERY))}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.billAmount}"></label>
                        <div class="col-sm-2 text-right" th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).BILL))}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.supplierAmount}"></label>
                        <div class="col-sm-2 text-right" th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).SUPPLIER))}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.marginAmount}"></label>
                        <div class="col-sm-2 text-right" th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).MARGIN))}"></div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.postpayAmount}"></label>
                        <div class="col-sm-2 text-right">
                            <strong th:text="${#numbers.formatCurrency(order.amounts.get(T(com.sir.richard.boss.model.types.OrderAmountTypes).POSTPAY))}"></strong>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-2" th:text="#{order.show.calculate.fields.postpayType}"></label>
                        <div class="col-sm-2 text-right" th:text="${order.payment.annotation}"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:replace="~{fragments/footer-scripts :: footer-scripts}"></div>
    <script>
        $('#nav-link-orders').addClass('active');
        $('#btn-show-order').click(function() {
            window.location.href = '/sir-richard-boss-web/orders/10764/orders';
        });
        $('#btn-update-order').click(function() {
            window.location.href = '/sir-richard-boss-web/orders/10764/update/orders';
        });
        /*
        $('#btn-status-order').click(function() {
            window.location.href = '/sir-richard-boss-web/orders/10764/change-status/orders';
        });
        */
        $('#btn-clone-order').click(function() {
            window.location.href = '/sir-richard-boss-web/orders/10764/clone';
        });
    </script>
</body>
<footer th:replace="~{fragments/footer-footer :: footer-footer}"></footer>
</html>