<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header-head :: header-head((customPageTitle=#{error.title}))}"></head>
<body>
    <nav th:replace="~{fragments/header-main-search :: header-main-search}"></nav>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="~{fragments/header-left-panel :: header-left-panel}"></nav>
        </div>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-start">
            <h1 class="h2" th:text="#{error.header}">Something happened...</h1>
        </div>
        <br>
        <div>
            <p th:text="${message}">Exception message</p>
        </div>
    </main>
    <div th:replace="~{fragments/footer-scripts :: footer-scripts}"></div>
</body>
<footer th:replace="~{fragments/footer-footer :: footer-footer}"></footer>
</html>